<div class="navbar-main">
  <div class="logo">Wait<span class="underline-logo">list</span></div>

  <ul class="navbar-items">
    <a ng-href="#/login"><li class="navbar__login">Login</li></a>

    <a ng-href="#/signup"><li class="navbar__signup">Signup</li></a>
  </ul>
</div>

<div class="section__main">

  <div class="section-title__main">
    <p class="title-top">List it Now.</p>
    <p class="title-bottom">Do it <span class="underline">Later</span>.</p>
  </div>

</div>

<div class="section__modal">
  <div class="section-bkg__modal"></div>

  <form ng-submit="vm.loginUser()" class="login-form">
    <div class="close-icon__signup">x</div>
    <div class="form-title__primary">Let's Stay On Task</div>

    <div class="form-inputs__primary">
      <input ng-model="vm.user.email" required placeholder="Email">
      <input ng-model="vm.user.password" required placeholder="Password">
    </div>

    <button type="submit" class="signup-btn">Login</button>
  </form>
</div>
