<div class="navbar-main">
  <div class="logo">Wait<span class="underline-logo">list</span></div>
  <ul class="navbar-items">
    <a ng-click="vm.logoutUser()"><li class="navbar__signup">Logout</li></a>
  </ul>
</div>


<div class="list">
  <button ng-click="vm.goToNewTask()" class="task-btn">+ Add New Task</button>

  <div class="task" ng-init="vm.getUserName(task.assignedIds)" ng-repeat="task in vm.tasks | orderBy: 'orderId'" ng-click="vm.editTask(task.taskId)">
    <p>{{task.status}}</p>
    <p>{{task.duedate}}</p>
    <p>{{task.assignedIds}}</p>
    <h3>{{task.title}}</h3>
    <!-- <p>{{task.description}}</p> -->
  </div>
</div>

<div class="section__app"></div>
