.section__app {
  background-image: url(../img/app1.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50em;
  z-index: -1;
}

.section__app:before {
  content: '';
  position: absolute;
  background-color:black;
  top: 0;
  left: 0;
  width: 100%;
  height: 50em;
  opacity: .2;
  z-index: 0;
}

.homepage-logo {
  top: 50%;
  left: 7.5%;
  line-height: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.95em;
  text-transform: uppercase;
  position: relative;
}

.logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
}

.underline {
  border-bottom: 5px solid aqua;
  text-decoration: none;
}

.list-group {
width: 100%;
  top: 11%;
  left: 13%;
  overflow: auto;
}

.todo-list {
box-sizing: border-box;
  width: 350px;
  max-height: 630px;
  background-color: #E3E3E3;
  border-radius: 8px;
  position: absolute;
  top: 12%;
  left: 31px;
  padding: .5em 1em;
  overflow: scroll;
  float: left;
}

.doing-list {
box-sizing: border-box;
  width: 350px;
  max-height: 630px;
  background-color: #E3E3E3;
  border-radius: 8px;
  position: absolute;
  top: 12%;
  left: 405px;
  padding: .5em 1em;
  overflow: scroll;
  float: left;
}

.done-list {
  box-sizing: border-box;
  width: 350px;
  max-height: 630px;
  background-color: #E3E3E3;
  border-radius: 8px;
  position: absolute;
  top: 12%;
  left: 785px;
  padding: .5em 1em;
  overflow: scroll;
  float: left;
}

.todo-header{
  position: absolute;
  top: 12%;
  left: 47px;
  z-index: 100;
  background: #E3E3E3;
  height: 76px;
}

.doing-header{
  position: absolute;
  top: 12%;
  left: 422px;
  z-index: 100;
  background: #E3E3E3;
  height: 76px;
}

.done-header{
  position: absolute;
  top: 12%;
  left: 804px;
  z-index: 100;
  background: #E3E3E3;
  height: 76px;
}

.list-title {
  margin-top: 0.7em;
  text-transform: uppercase;
  font-size: 1.75em;
  position: absolute;
}

.list-item {
  box-sizing: border-box;
  resize: none;
  width: 222px;
  height: auto;
}

.task-group {
  margin-top: 23%;
}

.task {
  background: white;
  padding-left: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-bottom: 1em;
  border-radius: 4px;
}

.status-todo {
  background: aqua;
  display: inline-block;
  position: relative;
  width: 5em;
  left: -16px;
  top: -2px;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-bottom: .25em;
  text-transform: uppercase;
  margin-bottom: 0em;
}

.status-doing {
  background: #d3c4a9;
  display: inline-block;
  position: relative;
  width: 5em;
  left: -16px;
  top: -2px;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-bottom: .25em;
  text-transform: uppercase;
  margin-bottom: 0em;
}

.status-done {
  background: #C5ABCB;
  display: inline-block;
  position: relative;
  width: 5em;
  left: -16px;
  top: -2px;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-bottom: .25em;
  text-transform: uppercase;
  margin-bottom: 0em;
}

.task-duedate {
  display: inline-block;
  float: right;
  margin-right: 1em;
  margin-top: 0.2em;
}

.overdue {
  color: red;
}

.task-btn {
  background: #D5CECC;
  color: black;
  position: relative;
  width: 185px;
  top: 13px;
  margin-left: 133px;
  height: 47px;
  z-index: 100;
}

.list-item-textarea {
  resize: none;
  width: 100%;
  border-radius: 5px;
  padding: 0.3em .5em;
  box-sizing: border-box;
  overflow: hidden;
  line-height: inherit;
}

.list-item__psuedo {
  position: absolute;
  box-sizing: border-box;
  resize: none;
  max-width: 222px;
  height: auto;
  word-wrap: break-word;
  padding: 0.3em .5em;
  opacity: 0;
}

.logout-btn {
  margin-top: 14px;
}
