<h1>New Task</h1>
<form ng-submit="vm.addTask()">
  <input ng-model="vm.task.title" required placeholder="title">
  <input ng-model="vm.task.description" required placeholder="description">
  <input ng-model="vm.task.orderId" placeholder="order id">
  <input ng-model="vm.task.dueDate" placeholder="dueDate">

  <select ng-model="vm.task.status" required placeholder="status">
    <option value="started">Started</option>
    <option value="new">New</option>
    <option value="done">Done</option>
  </select>

  <button type="submit">Save</button>

  <!-- <div ng-repeat="id in vm.tasks.assignedIds">
    <input ng-model="id">
  </div> -->

</form>
